*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-icons
{
    height: 15px;
}

body
{
    font-family: 'Montserrat', sans-serif;
}

#logoimage
{
    height: 40px;
    margin-top: 10px;
}

#mainnav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    padding: 0 10px;

}

.logo
{
    flex: 6;
    text-align: center;
}

#logotext{
    letter-spacing: 4px;
    font-size: 20px ;
    text-transform: uppercase;
    padding: 10px 0;
}

.onright{
    flex: 1;
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    text-align: center;
}

.onright li{
    list-style-type: none;
}

.onright a{
    text-decoration: none;
}

.navtext{
    display: block;
    font-size: 10px;
    color: rgb(58, 58, 58);
}

.burger div{
    width: 20px;
    height: 1px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
}

#secnav ul
{
    display: flex;
    justify-content: space-around;
    min-height: 3vh;
    align-items: center;
}

#secnav ul li{
    list-style-type: none;
    text-align: center;
}
#secnav ul li a{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13px;
    transition: all 0.3s ease;
    padding: 5px 80px;
    border-radius: 2px;
}


.mega-box
{
    position: absolute;
    top: 16vh;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(228, 228, 228);

}

.mega-box .content{
    padding: 25px 20px;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}

.mega-box .content .row
{
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row .header
{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links{
    border-left: 1px solid rgba(255,255,255,0.09);
  }


  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: #f2f2f2;
  }

.mega-box .mega-links{
    display: flex;
    flex-direction: column;
}

.menu li:hover .mega-box{
    top: 16vh;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1224px) {
    .logo{
        flex: 2;
    }
    .onright {
        width: 30%;
    }
}



@media screen and (max-width: 768px) {
    .onright{
        position: absolute;
        left: 0px;
        width: 100%;
        height: 10vh;
        top: 13vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;

    }

    .onright li{
        flex: 1;
        margin: 0;
        padding: 0;
        height: 10vh;
        border: solid;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        background-color: rgb(248, 248, 248);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .onright li a{
        
    }

    .menu{
        position: absolute;
        left: 0px;
        width: 100%;
        height: 10vh;
        top: 33vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(177, 177, 245);
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    #secnav ul li{
        text-align: left;
    }

    .burger
    {
        position: absolute;
        left: 15px;
        display: block;
        cursor: pointer;
    }
    .rightnav
    {
        top: 23vh;
    }
    #logoimage
    {
        height: 30px;
    }
    #logotext{
        font-size: 15px;
        padding-top: 0;
    }

    .onright li{
        opacity: 0;
    }

}

.nav-active{
    transform: translateX(0%);
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 3.5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -3.5px);
}